<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>LinguaLeo Translate</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1B066AF4-C14A-4285-87BA-5D1E5675187D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BE76995-48E9-4171-9E20-C32DC629EE61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2BE76995-48E9-4171-9E20-C32DC629EE61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76FA076D-3A98-462E-86F6-E97B6D77E542</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>76FA076D-3A98-462E-86F6-E97B6D77E542</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6450C280-CAC3-4F42-B87C-4969821864F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vlad Harbarchuk</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LinguaLeo Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>16</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>Y</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1B066AF4-C14A-4285-87BA-5D1E5675187D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>2</string>
				<key>queuedelaycustom</key>
				<integer>5</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Translating...</string>
				<key>script</key>
				<string>import translate
print translate.translate_text("{query}")</string>
				<key>subtext</key>
				<string>Translate piece of text in LinguaLeo</string>
				<key>title</key>
				<string>Translate in LinguaLeo</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2BE76995-48E9-4171-9E20-C32DC629EE61</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>mail = "yourmail"
password = "yourpassword"

import addtodictionary
print addtodictionary.add_to_dictionary("{query}", mail, password)</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76FA076D-3A98-462E-86F6-E97B6D77E542</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>1</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Добавлено в словарь</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6450C280-CAC3-4F42-B87C-4969821864F8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1B066AF4-C14A-4285-87BA-5D1E5675187D</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>2BE76995-48E9-4171-9E20-C32DC629EE61</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>6450C280-CAC3-4F42-B87C-4969821864F8</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>76FA076D-3A98-462E-86F6-E97B6D77E542</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
